p, h2, h1, blockquote {
    max-width: 540px;
    margin-right: auto;
}

p img {
	display: block;
	margin-bottom: 20px;
}

.sourceCode {
    margin-top: 10px;
    margin-bottom: 15px;
}

pre:not(.sourceCode) {
    color: #999;
    border-color: #ddd;
    max-width: 560px;
    margin-right: auto;
    font-size: 12px;
}